@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .form-row {
    display: flex !important;
    flex-direction: column !important;
    /* background-color: red; */
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .form-row {
    display: flex !important;
    flex-direction: column !important;
    /* background-color: red; */
  }
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}
.react-datetime-picker input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px; /* Adjust as needed */
  outline: none; /* Remove the default input outline */
}
.button {
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

/* input[type="date"]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
} */
